# Documentation for this file: https://EditorConfig.org

root = true

# Unix-style newlines ending every file,
# as some compilers complain about files not ending in newline
[*]
insert_final_newline = true

# Part of readline test that needs file without final newline
[modules/libcom/test/multiline-input.txt]
insert_final_newline = false

# Enforce consistent space indent style in source code
# and remove all trailing spaces
[*.{c,cc,cpp,h,hpp,pl,py,yml}]
indent_style = space
trim_trailing_whitespace = true
