[submodule "modules/libcom"]
	path = modules/libcom
	url = ./
	branch = libcom/master
[submodule "modules/database"]
	path = modules/database
	url = ./
	branch = database/master
[submodule "modules/ca"]
	path = modules/ca
	url = ./
	branch = ca/master
