[submodule "modules/pvData"]
    path = modules/pvData
    url = https://github.com/epics-base/pvDataCPP
    branch = master
[submodule "modules/pvAccess"]
    path = modules/pvAccess
    url = https://github.com/epics-base/pvAccessCPP
    branch = master
[submodule "modules/normativeTypes"]
    path = modules/normativeTypes
    url = https://github.com/epics-base/normativeTypesCPP
    branch = master
[submodule "modules/pvaClient"]
    path = modules/pvaClient
    url = https://github.com/epics-base/pvaClientCPP
    branch = master
[submodule "modules/pvDatabase"]
    path = modules/pvDatabase
    url = https://github.com/epics-base/pvDatabaseCPP
    branch = master
[submodule "modules/pva2pva"]
    path = modules/pva2pva
    url = https://github.com/epics-base/pva2pva
    branch = master
[submodule ".ci"]
    path = .ci
    url = https://github.com/epics-base/ci-scripts
    branch = master
