{0} == $[0] == 0
{123} == $[123] == 123
{-123} == $[-123] == -123
{   45   } == $[   45   ] == 45
{010} == $[010] == 8
{0x10} == $[0x10] == 16
{0X10} == $[0X10] == 16
{0x2a} == $[0x2a] == 42
{+7} == $[+7] == 7
{-7} == $[-7] == -7
{--7} == $[--7] == 7
{+-7} == $[+-7] == -7
{-+7} == $[-+7] == -7
{-0x10} == $[-0x10] == -16
{3*4} == $[3*4] == 12
{8/2} == $[8/2] == 4
{8%3} == $[8%3] == 2
{(-7)/3} == $[(-7)/3] == -2
{(-7)%3} == $[(-7)%3] == -1
{(-2)*3} == $[(-2)*3] == -6
{0x20/0x4} == $[0x20/0x4] == 8
{0x23%0x10} == $[0x23%0x10] == 3
{1+2} == $[1+2] == 3
{7-5} == $[7-5] == 2
{1+2+3+4} == $[1+2+3+4] == 10
{20-3-4-5} == $[20-3-4-5] == 8
{2+3*4} == $[2+3*4] == 14
{20-6/3} == $[20-6/3] == 18
{20-8%3} == $[20-8%3] == 18
{(2+3)*4} == $[(2+3)*4] == 20
{ ( 1 + 2 ) * ( 3 + 4 ) } == $[ ( 1 + 2 ) * ( 3 + 4 ) ] == 21
{1+(2*(3+(4*5)))} == $[1+(2*(3+(4*5)))] == 47
{((1+2)*((3+4)-5))} == $[((1+2)*((3+4)-5))] == 6
{0x10+2} == $[0x10+2] == 18
{0x10+010} == $[0x10+010] == 24
{0x10+(2*3)} == $[0x10+(2*3)] == 22
abc{1+2}def == abc$[1+2]def == abc3def
left {2*3} right == left $[2*3] right == left 6 right
{1+2}:{3*4} == $[1+2]:$[3*4] == 3:12
{ 1 + 2 * ( 3 + 4 ) - 5 } == $[ 1 + 2 * ( 3 + 4 ) - 5 ] == 10
{    ((  10  ))    } == $[    ((  10  ))    ] == 10
{} == $[] == $[]
{abc} == $[abc] == $[abc]
{1+2x} == $[1+2x] == $[1+2x]
{1 2} == $[1 2] == $[1 2]
{1+} == $[1+] == $[1+]
{1**2} == $[1**2] == $[1**2]
{()} == $[()] == $[()]
{0x} == $[0x] == $[0x]
{0x1G} == $[0x1G] == $[0x1G]
{(1+2} == $[(1+2] == $[(1+2]
{((1+2)} == $[((1+2)] == $[((1+2)]
{1+(2*3)} == $[1+(2*3] == $[1+(2*3]
{1/0} == $[1/0] == $[1/0]
{1%0} == $[1%0] == $[1%0]
