##########################################################################
# Copyright (c) 2014 UChicago Argonne LLC, as Operator of Argonne
#     National Laboratory.
# EPICS BASE is distributed subject to a Software License Agreement found
# in the file LICENSE that is included with this distribution.
##########################################################################

# This is a Makefile fragment, see src/ioc/Makefile.

stdRecords.dbd$(DEP): $(STDDIR)/rec/Makefile $(STDDIR)/rec/RULES
	@$(RM) $@
	@echo "$(COMMON_DIR)/stdRecords.dbd:" > $@

$(COMMON_DIR)/stdRecords.dbd: $(STDDIR)/rec/Makefile $(STDDIR)/rec/RULES

# This is a target-specific variable
$(COMMON_DIR)/stdRecords.dbd: DBDCAT_COMMAND = \
    $(PERL) $(TOOLS)/makeIncludeDbd.pl $(stdRecords_DBD) $(@F)
