#*************************************************************************
# Copyright (c) 2010 UChicago Argonne LLC, as Operator of Argonne
#     National Laboratory.
# EPICS BASE is distributed subject to a Software License Agreement found
# in file LICENSE that is included with this distribution.
#*************************************************************************

# This is a Makefile fragment, see src/libCom/Makefile.

# Ensure epicsVersion.h gets built first
yajl$(DEP): $(COMMON_DIR)/epicsVersion.h
yajl_alloc$(DEP): $(COMMON_DIR)/epicsVersion.h
yajl_buf$(DEP): $(COMMON_DIR)/epicsVersion.h
yajl_encode$(DEP): $(COMMON_DIR)/epicsVersion.h
yajl_gen$(DEP): $(COMMON_DIR)/epicsVersion.h
yajl_lex$(DEP): $(COMMON_DIR)/epicsVersion.h
yajl_parser$(DEP): $(COMMON_DIR)/epicsVersion.h
