#*************************************************************************
# Copyright (c) 2010 UChicago Argonne LLC, as Operator of Argonne
#     National Laboratory.
# EPICS BASE is distributed subject to a Software License Agreement found
# in file LICENSE that is included with this distribution. 
#*************************************************************************

# This is a Makefile fragment, see src/libCom/Makefile.

envData.c: $(LIBCOM)/env/envDefs.h $(LIBCOM)/env/bldEnvData.pl \
	$(CONFIG)/CONFIG_ENV $(CONFIG)/CONFIG_SITE_ENV \
	$(wildcard $(CONFIG)/os/CONFIG_SITE_ENV.$(T_A))
	$(PERL) $(LIBCOM)/env/bldEnvData.pl $(QUIET_FLAG) -t $(T_A) \
		-c $(CMPLR_CLASS) -s $(OS_CLASS) $(CONFIG)
